name = "domain-admin"
pages_build_output_dir = "dist"
compatibility_date = "2024-11-24"

[[d1_databases]]
binding = "DB"
database_name = "domain-admin-db"
database_id = "cf5e1be1-4566-4271-86f3-3ecfb0916d67"
